.btn-file{
    position: relative;
    display: inline-block;
    overflow: hidden;
    display: table-cell;
}

.btn-file input{
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
}

.step .input-group{
    margin-bottom: 10px;
}